article.entry
  header
    a(href=entry.path)
      h1= entry.title
  if entry.images
    each image in entry.images
      img(src=data2www(image.w320), alt=entry.title).attachment
  if entry.videos
    each video in entry.videos
      iframe.attachment(
        width="320",
        height=320/video.ratio,
        src="http://www.youtube.com/embed/#{video.id}?fs=1&amp;rel=0",
        frameborder="0",
        allowfullscreen
      )
  footer
    if show_fblike
      div(
        class="fb-like",
        data-send="false",
        data-href=entry.url
        data-layout="button_count",
        data-action="Gilla",
        data-width="90",
        data-show-faces="false",
        data-font="arial"
        )
    if show_plusone
      div(
        class="g-plusone",
        data-size="medium"
        data-href=entry.url
        data-expandTo="top"
        data-annotation="bubble"
        )
    time(pubdate)
      = entry.humanDate
      = " "
      = entry.humanTime
  section.body
    != entry.html