article.entry(data-type=entry.type)
  header
    a(href=entry.path)
      h1= entry.title
  if entry.images
    each image in entry.images
      img(
        src=data2www(image.w320)
        srcset=srcset(image)
        sizes="320px"
        alt=entry.title
        ).attachment
  if entry.videos
    each video in entry.videos
      iframe.attachment(
        width="320",
        height=320/video.ratio,
        src="http://www.youtube.com/embed/#{video.id}?fs=1&amp;rel=0",
        frameborder="0",
        allowfullscreen
      )
  footer
    time(pubdate)
      = entry.humanDate
      = " "
      = entry.humanTime
    if show_fblike
      iframe.fb-like(
        src="https://www.facebook.com/plugins/like.php?show-faces=false&amp;send=false&amp;layout=button_count&amp;href=http://miliam.se" + entry.path,
        scrolling="no",
        frameborder="0"
      )
    if show_plusone
      div(
        class="g-plusone",
        data-size="medium"
        data-href=entry.url
        data-expandTo="top"
        data-annotation="bubble"
        )
  section.body
    != entry.html
