article.entry
  header
    a(href=entry.path)
      h1= entry.title
  if entry.images
    each image in entry.images
      div(data-picture, data-alt=entry.title).attachment
        div(data-src=data2www(image.w320))
        div(data-src=data2www(image.w640), data-media="(-webkit-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 1.5),(-ms-min-device-pixel-ratio: 1.5),(min--moz-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5),(min-resolution: 1.5dppx)")
        noscript
          img(src=data2www(image.w320), alt=entry.title)
  if entry.videos
    each video in entry.videos
      iframe.attachment(
        width="320",
        height=320/video.ratio,
        src="http://www.youtube.com/embed/#{video.id}?fs=1&amp;rel=0",
        frameborder="0",
        allowfullscreen
      )
  footer
    if show_fblike
      iframe.fb-like(
        src="https://www.facebook.com/plugins/like.php?show-faces=false&amp;send=false&amp;layout=button_count&amp;href=http://miliam.se" + entry.path,
        scrolling="no",
        frameborder="0"
      )
    if show_plusone
      div(
        class="g-plusone",
        data-size="medium"
        data-href=entry.url
        data-expandTo="top"
        data-annotation="bubble"
        )
    time(pubdate)
      = entry.humanDate
      = " "
      = entry.humanTime
  section.body
    != entry.html