extends layout

block content
  article.entry
    header
      h1= title
    each image in images
      img(src=data2www(image.w320), alt=title)
    footer
      if show_fblike
        div(
          class="fb-like",
          data-send="false",
          data-layout="button_count",
          data-width="150",
          data-show-faces="false",
          data-font="arial"
          )
      if show_plusone
        div(
          class="g-plusone",
          data-size="medium"
          data-expandTo="top"
          data-annotation="bubble"
          )
      time(pubdate)
        = humanDate
        = " "
        = humanTime
    section.body
      != html