doctype 5
html
  head
    title
      if title
        = title
        = " ● Miliam Jorde"
      else
        = "Miliam Jorde"

    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    link(rel='stylesheet', href='/app.css')
    link(rel='shortcut icon', type='image/x-icon', href='/favicon.ico')
    link(rel='icon', type='image/x-icon', href='/favicon.png')
    link(rel="alternate", type="application/rss+xml", title="Miliam Jorde", href="/rss.xml")
    meta(name="viewport", content="device-width,initial-scale=1")

    meta(name="description", content=description)
    meta(name="keywords", content=keywords)
    meta(property="og:title", content=title || "Miliam Jorde")
    script(src="/modernizr.js")

    //- FB stuff
    script(src="/fb.js")
    meta(property="fb:admins", content="623506486,591318200")
    meta(property="og:url", content=url)

    //- gplus url
    link(rel="canonical", href=url)

    //- Google Analytics
    if analytics
      //- See: http://ralphvanderpauw.com/analytics/error-pages-google-analytics-update/
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33898970-1']);
        _gaq.push(['_trackPageview']);
      block analytics
      script
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  body
    include navigation
    hgroup#head
      a(href="/")
        h1 Miliam Jorde
        h2
          = "är nu "
          span= humanAge
          = " gammal"
    #content
      block content

    footer#footer
      aside#about.
        Liam är son till Sigyn och Glenn Jorde

    //- Google plus stuff
    script(src="/plusone.js")

    //- App stuff
    script(src="/js/jquery.js")
    script(src="/js/app.js")