nav#navigation
  ul
    li.latest: a(href="/") Visa senaste
    li.about:  a(href="/om") Om

  table
    each months, year in navigation
      tr
        th
          a(href="/#{year}")= year
        each month in months
          td
            if month.link
              a(href=month.path, title="#{month.long} #{year}", class="month")
                = month.short
                span.long= month.long.substr(1, 2)
            else
              span.month
                = month.short
                span.long= month.long.substr(1, 2)